    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div style="display:inline-block;">
                        <img src="img/abc_middle.png" width="400" alt="">
                    </div>
                    <!--div style="display:inline-block;">
                        <a href="https://www.springer.com/series/8767"><img src="img/8767_logo.jpg" height="300" alt=""/></a>
                    </div-->
                    <div class="intro-text">
                        <hr class="star-light">
                        <span class="sub">{{ site.conf_title1 }}</span>
                        <span class="name"><b>{{ site.conf_title2 }}</b></span>
                        <span class="info">{{ site.date }}, {{ site.location }}</span><br/>
                        <span class="addition">{{ site.addition }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
