<!-- About Section -->
    <section id="keynote">
        <div class="container">
            <div>
                <div class="col-lg-12 text-center">
                    <h2>Keynotes</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <img src="img/Michael_Beigl.png" height=260/>
                    <h3>Michael Beigl</h3>
                    <p>Karlsruhe Institute of Technology</p>
                    <h4>Computers closer to your body: sensing, machine learning and innovative applications in earables and wearables</h4>
                    <p>This keynote addresses the integration of sensing and machine learning in wearable computing, with a focus on the OpenEarable project. It will show how these wearable devices use advanced sensors and machine learning for Human Activity Recognition (HAR) - interpreting the user's actions and environment. The talk will present tools for implementing machine learning on small embedded systems, focusing on our EdgeML project. It will also present novel applications in health monitoring, where earables collect biometric data with precision, and explore a novel method for human-computer interaction.</p>
                    <h5>Michael Beigl</h5>
                    <p>Michael Beigl is a Pervasive Computing Systems professor at the Karlsruhe Institute of Technology (KIT) and leads the TECO research lab. His areas of research focus are Ubiquitous Computing, Wearable Computing, AI-driven Health and Activity Recognition, and Internet of Things.</p>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-lg-12">
                    <img src="img/Paul_Lukowicz.png" height=250/>
                    <h3>Paul Lukowicz</h3>
                    <p>Deutsche Forschungszentrum für Künstliche Intelligenz GmbH</p> 
                    <h4>Will advances in foundational models solve human activity recognition?</h4>
                    <h5>Paul Lukowicz</h5>
                    <p>Paul Lukowicz is currently serving as a Full Professor of Artificial Intelligence at the Rheinland-Pfälzische Technische Universität Kaiserslautern-Landau (RPTU) in Germany, and leading the Embedded Intelligence group at the German Research Center for Artificial Intelligence (DFKI GmbH). His research endeavors encompass Wearable Computing, Activity Recognition, Human-Computer Interaction, Artificial Intelligence, and Ubiquitous Computing.</p>
                </div> 
            </div>
            <hr/>
            <div class="row">
                <div class="col-lg-12">
                    <img src="img/sozo.png" height=250/>
                    <h3>Sozo Inoue</h3>
                    <p>Kyushu Institute of Technology / AUTOCARE LLC, Japan</p> 
                    <h4>Toward Care Forecasting Services Utilizing IoT, Bigdata, and Generative AI<h4>
                    <h5>Sozo Inoue</h5>
                    <p>Sozo INOUE is a full professor in National Kyushu Institute of Technology, Japan, the director of Kyutech Care XDX Center, and the Chief Technical Officer of AUTOCARE LLC. His research interests include human activity recognition with smart phones, and application for healthcare and caregiving of web/pervasive/ubiquitous systems.</p>
                    <p></p>
                </div>    
            </div>
        </div>
    </section>
