<!-- About Section -->
    <section id="keynote">
        <div class="container">
            <div>
                <div class="col-lg-12 text-center">
                    <h2>Keynotes</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <img src="img/Michael_Beigl.png" height=260/>
                    <h3>Michael Beigl</h3>
                    <p>Karlsruhe Institute of Technology</p>
                    <p>Michael Beigl is a Pervasive Computing Systems professor at the Karlsruhe Institute of Technology (KIT) and leads the TECO research lab. His areas of research focus are Ubiquitous Computing, Wearable Computing, AI-driven Health and Activity Recognition, and Internet of Things.</p>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-lg-12">
                    <img src="img/Paul_Lukowicz.png" height=250/>
                    <h3>Paul Lukowicz</h3>
                    <p>Deutsche Forschungszentrum für Künstliche Intelligenz GmbH</p> 
                    <p>Paul Lukowicz is currently serving as a Full Professor of Artificial Intelligence at the Rheinland-Pfälzische Technische Universität Kaiserslautern-Landau (RPTU) in Germany, and leading the Embedded Intelligence group at the German Research Center for Artificial Intelligence (DFKI GmbH). His research endeavors encompass Wearable Computing, Activity Recognition, Human-Computer Interaction, Artificial Intelligence, and Ubiquitous Computing.</p>
            </div>
            <hr/>
            <div class="row">
                <div class="col-lg-12">
                    <!--img src="img/sozo.jpg" height=250/-->
                    <h3>Sozo Inoue</h3>
                    <p>Kyushu Institute of Technology, Japan</p> 
                    <p>Sozo INOUE is a full professor in National Kyushu Institute of Technology, Japan, the director of Kyutech Care XDX Center, and the Chief Technical Officer of AUTOCARE LLC. His research interests include human activity recognition with smart phones, and application for healthcare and caregiving of web/pervasive/ubiquitous systems.</p>
                    </p>
            </div>
        </div>
    </section>
