 <!-- Program Section -->
    <section class="success" id="program">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Program</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
              <div class="row">
               <p>You can import to your calendar in your timezone from the [+] below.</p>
               <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FTokyo&mode=WEEK&src=OTh1M21uc2RnN3ZkdXU1dWNsOGxnYm4wMmdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23A79B8E" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
              </div>
              
              <div class="row">
                {% for date in site.program %}
                  <h３>{{ date.date}}</h３>
                  {% for session in date.session %}
                    <h4>{{ session.name }}, {{session.time}}</h4>
                    <ul>
                    {% for paper in session.paper %}
                      <ul><b>{{ paper.title }}</b>, <i>{{paper.authors}}</i></ul>
                    {% endfor %}
                    </ul>
                  {% endfor %}
                <hr/>
                {% endfor %}
              </div>
            </div>
        </div>
    </section>
