<!-- Registration Section -->
    <section id="registration">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Registration</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  <ul>
                      <li> Non-Student Author/Participant (On-site and Online): <b>USD240</b> </li>
                      <li> Student Author (On-site and Online): <b>USD120</b> </li>
                  </ul>
                </div>

<div>		  <center>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick" />
  <input type="hidden" name="hosted_button_id" value="AART5MQC7VW2J" />
  <input type="hidden" name="on0" value="Registration"/>
        <h3>Registration</h3>
        <p><select name="os0" class="form-control">
          <option value="Regular (On-site and Online)">
            Regular (On-site and Online) $240.00 USD
          </option>
          <option value="Student (On-site and Online)">
            Student (On-site and Online) $120.00 USD
          </option>
        </select></p>
  <input type="hidden" name="currency_code" value="USD" />
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Buy Now" />
</form>
                  </center></div>
		  
                <p>The payment will be managed by AUTOCARE LLC with the name of mo***@eng.u-hyogo.ac.jp.</p>
		    
               
		<!--div> <br>
	          <ul>
                      <li> Free but need approval after the registration: <a href='https://docs.google.com/forms/d/e/1FAIpQLSdPJ0oLAX5c4hGIk_vuH29wPoXnaRQnv6Ra_qEYRJ8gz69FtQ/viewform'><b style='color:blue';>Registration Form</b></a></li>
                  </ul> 
	       </div-->	
            </div>
        </div>
    </section>
