<!-- Registration Section -->
    <section id="registration">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Registration</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  <p>Please do registration from below.</p>
                  <ul>
                      <li> Non-Student Author/Participant: <b>USD200</b> </li>
                      <li> Student Author: <b>USD100</b> </li>
                  </ul>
                </div>

                <div class="col-lg-12 text-center">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="PKNV69KL54TBG">
                <table class="text-center">
                <tr><td><input type="hidden" name="on0" value="Registration Type">Registration Type</td></tr><tr><td><select name="os0">
                    <option value="Regular Registration">Regular Registration $200.00 USD</option>
                    <option value="Student Registration">Student Registration $100.00 USD</option>
                </select> </td></tr>
                </table>
                <input type="hidden" name="currency_code" value="USD">
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/ja_JP/i/scr/pixel.gif" width="1" height="1">
                </form>
                </div>

                <div class="col-lg-12 text-center">
                    <a href="https://sites.google.com/view/abc2021-reg/home?authuser=0" class="btn btn-lg btn-outline"/>
                        <i class="fa fa-sign-in"></i> Registration </a>
                </div>
            </div>
        </div>
    </section>
