<!-- Registration Section -->
    <section id="registration">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Registration</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  <p>Registration free will be the same from last year. Payment link will be added after confirmation of papers.</p>
                  <ul>
                      <li> Non-Student Author/Participant (On-site and Online): <b>USD240</b> </li>
                      <li> Student Autho (On-site and Online) r: <b>USD120</b> </li>
                  </ul>
                </div>
               
            </div>
        </div>
    </section>
