<!-- Series Section -->
    <section id="series">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Series</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  <ul>
                    {% for item in site.series %}
                      <li><p><a href="{{item.url}}">{{item.text}}</a></p></li>
                    {% endfor %}
                  </ul>
                </div>
            </div>
        </div>
    </section>
