<!--Sponsors section-->
    <section id="sponsors">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
		               <table border="0">
				   <tr><td/><td><b>Sponsors:</b></td><td/><td/><td/></tr>
                           <tr>
                               <td style="padding:5px;"><a href="https://www.mamezou.com"><img class="img-responsive" src="img/mamezou_logo.gif" width="140" alt=""/></a></td>
                               <td style="padding:5px;"><a href="https://www.innovationplus.jp"><img class="img-responsive" src="img/Innovationplus_logo.png" width="150" alt=""/></a></td>
                               <td style="padding:5px;"><a href="https://fusic.co.jp/"><img class="img-responsive" src="img/fusic_logo.png" width="150" alt=""/></a></td>
                               <td style="padding:5px;"><a href="http://smartco.jp"><img class="img-responsive" src="img/smart_logo.gif" width="140" alt=""/></a></td>
                               <td style="padding:5px;"><a href="https://lifull.com"><img class="img-responsive" src="img/lifull_logo.svg" width="150" alt=""/></a></td>
                               <td style="padding:5px;"><a href="https://www.carecom.jp/global/"><img class="img-responsive" src="img/carecom_logo.png" width="150" alt=""/></a></td>
                           </tr>
            			    <tr>
	   		                    <td>Mamezou Co., Ltd</td>
             			        <td>Innovation Plus Co., Ltd.</td>
             			        <td>Fusic Co., Ltd.</td>
			                    <td>SMART Co., Ltd.</td>
          			            <td>Liful Co., Ltd.</td>
          			            <td>CARECOM Co., Ltd.</td>
  		                    </tr>
			
                  </table>
               </div>
            </div>
      	</div>
    </section>
